In [1]:
## Import Liberaries
import pandas as pd
import sqlite3

In [2]:
## Read the file

df_netflix = pd.read_csv('netflix_titles.csv')
df_netflix.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

In [3]:
## print the columns of all dataframes

print('The columns of the Netflix data frame are :-  ',df_netflix.columns,'\n',df_netflix.shape)

The columns of the Netflix data frame are :-   Index(['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in', 'description'],
      dtype='object')
 (8807, 12)

In [4]:
# import sqlalchemy and create a sqlite engine
from sqlalchemy import create_engine
engine = create_engine('sqlite://', echo=False)

# export the dataframe as a table 'playstore' to the sqlite engine
df_netflix.to_sql("netflix", con =engine)

8807

In [5]:
## Test the code by select the complete table

sql='''

Select * from netflix
limit 5


''';

    
df_sql = pd.read_sql_query(sql,con=engine)
df_sql.head()

,index,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,None,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,1,s2,TV Show,Blood & Water,None,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",None,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,3,s4,TV Show,Jailbirds New Orleans,None,None,None,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,4,s5,TV Show,Kota Factory,None,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

In [6]:
## Query 1:- Select *

## Test the code by select the complete table

sql='''

Select * from netflix



''';

    
df_sql = pd.read_sql_query(sql,con=engine)
df_sql.head()

,index,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,None,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,1,s2,TV Show,Blood & Water,None,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",None,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,3,s4,TV Show,Jailbirds New Orleans,None,None,None,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,4,s5,TV Show,Kota Factory,None,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

In [7]:
## Query 2:- Select distinct

## Test the code by select the complete table

sql='''

Select distinct(show_id) from netflix



''';

    
df_sql = pd.read_sql_query(sql,con=engine)
df_sql.head()

  show_id
0      s1
1      s2
2      s3
3      s4
4      s5

In [8]:
## Query 3:- Select where

## Test the code by select the complete table

sql='''

Select 
distinct(title) from netflix
where release_year >2020



''';

    
df_sql = pd.read_sql_query(sql,con=engine)
df_sql.head()

                   title
0          Blood & Water
1              Ganglands
2  Jailbirds New Orleans
3           Kota Factory
4          Midnight Mass

In [9]:
## Query 4:- Select and,or,not

## Test the code by select the complete table

sql='''

Select 
distinct(title) from netflix
where release_year > 2020 and title='Blood & Water' or release_year < 2021 and title='Kota Factory'and not country= 'India'



''';

    
df_sql = pd.read_sql_query(sql,con=engine)
df_sql.head()

           title
0  Blood & Water

In [10]:
## Query 5:- order by

## Test the code by select the complete table

sql='''

Select 
distinct(title) as name from netflix
order by title 


''';

    
df_sql = pd.read_sql_query(sql,con=engine)
df_sql.head()

                            name
0                         #Alive
1  #AnneFrank - Parallel Stories
2              #FriendButMarried
3            #FriendButMarried 2
4                          #Roxy

In [11]:
## Query 6:- limit values

## Test the code by select the complete table

sql='''

Select * from netflix
limit 5



''';

    
df_sql = pd.read_sql_query(sql,con=engine)
df_sql.head()

,index,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,None,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,1,s2,TV Show,Blood & Water,None,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",None,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,3,s4,TV Show,Jailbirds New Orleans,None,None,None,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,4,s5,TV Show,Kota Factory,None,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

In [12]:
## Query 7:- Min,Max,count,avg,sum

## Test the code by select the complete table

sql='''

Select
min(release_year) as min_release_year,
max(release_year) as max_release_year,
count(distinct release_year) as count_of_release_year,
round(avg(release_year),2) as avg_of_all_release_years,
sum(release_year) as avg_of_all_release_years
from netflix
limit 1



''';

    
df_sql = pd.read_sql_query(sql,con=engine)
df_sql.head()

,min_release_year,max_release_year,count_of_release_year,avg_of_all_release_years,avg_of_all_release_years
0,1925,2021,74,2014.18,17738885

In [13]:
## Query 8:- like

sql='''

Select distinct ' country that End with ia :- '|| country as Value from netflix
where country like"%ia"
union all
Select distinct 'country that Starts with ia :- '|| country as Value from netflix
where country like"ia%"
union all
Select distinct 'country that has ia :- '|| country as Value from netflix
where country like "%ia%"
union all
Select distinct 'country that starts and ends with a :- '|| country as Value from netflix
where country like "a%a%"





''';

    
df_sql = pd.read_sql_query(sql,con=engine)
df_sql.head()

                                               Value
0                  country that End with ia :- India
1   country that End with ia :- United States, Gh...
2              country that End with ia :- Australia
3                country that End with ia :- Nigeria
4                 country that End with ia :- Russia

In [14]:
## Query 9:- in

sql='''

select * from netflix
where country in ('India','United States','Austrailia')
order by country asc





''';

    
df_sql = pd.read_sql_query(sql,con=engine)
df_sql.head()

,index,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,4,s5,TV Show,Kota Factory,None,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...
1,24,s25,Movie,Jeans,S. Shankar,"Prashanth, Aishwarya Rai Bachchan, Sri Lakshmi...",India,"September 21, 2021",1998,TV-14,166 min,"Comedies, International Movies, Romantic Movies",When the father of the man she loves insists t...
2,39,s40,TV Show,Chhota Bheem,None,"Vatsal Dubey, Julie Tejwani, Rupa Bhimani, Jig...",India,"September 16, 2021",2021,TV-Y7,3 Seasons,Kids' TV,"A brave, energetic little boy with superhuman ..."
3,50,s51,TV Show,Dharmakshetra,None,"Kashmira Irani, Chandan Anand, Dinesh Mehta, A...",India,"September 15, 2021",2014,TV-PG,1 Season,"International TV Shows, TV Dramas, TV Sci-Fi &...","After the ancient Great War, the god Chitragup..."
4,66,s67,TV Show,Raja Rasoi Aur Anya Kahaniyan,None,None,India,"September 15, 2021",2014,TV-G,1 Season,"Docuseries, International TV Shows",Explore the history and flavors of regional In...

In [15]:
## Query 10:- between

sql='''

select * from netflix
where release_year between 2020 and 2021





''';

    
df_sql = pd.read_sql_query(sql,con=engine)
df_sql.head()

,index,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,None,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,1,s2,TV Show,Blood & Water,None,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",None,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,3,s4,TV Show,Jailbirds New Orleans,None,None,None,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,4,s5,TV Show,Kota Factory,None,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

In [16]:
## Query 11:- joins 

sql='''

select
n1.show_id as Show_idtable1,
n2.type as Show_idTable2,
n2.title as Showtable2
from netflix n1
join netflix n2 on n1.show_id = n2.show_id





''';

    
df_sql = pd.read_sql_query(sql,con=engine)
df_sql.head()

  Show_idtable1 Show_idTable2             Showtable2
0            s1         Movie   Dick Johnson Is Dead
1            s2       TV Show          Blood & Water
2            s3       TV Show              Ganglands
3            s4       TV Show  Jailbirds New Orleans
4            s5       TV Show           Kota Factory

In [17]:
## Query 12:- unions

sql='''

select * from netflix where country='India'
union all
select * from netflix where country='United States'





''';

    
df_sql = pd.read_sql_query(sql,con=engine)
df_sql.head()

,index,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,4,s5,TV Show,Kota Factory,None,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...
1,24,s25,Movie,Jeans,S. Shankar,"Prashanth, Aishwarya Rai Bachchan, Sri Lakshmi...",India,"September 21, 2021",1998,TV-14,166 min,"Comedies, International Movies, Romantic Movies",When the father of the man she loves insists t...
2,39,s40,TV Show,Chhota Bheem,None,"Vatsal Dubey, Julie Tejwani, Rupa Bhimani, Jig...",India,"September 16, 2021",2021,TV-Y7,3 Seasons,Kids' TV,"A brave, energetic little boy with superhuman ..."
3,50,s51,TV Show,Dharmakshetra,None,"Kashmira Irani, Chandan Anand, Dinesh Mehta, A...",India,"September 15, 2021",2014,TV-PG,1 Season,"International TV Shows, TV Dramas, TV Sci-Fi &...","After the ancient Great War, the god Chitragup..."
4,66,s67,TV Show,Raja Rasoi Aur Anya Kahaniyan,None,None,India,"September 15, 2021",2014,TV-G,1 Season,"Docuseries, International TV Shows",Explore the history and flavors of regional In...

In [18]:
## Query 13:- case statements

sql='''

select
sum(case when country='India' then 1 else 0 end) as Shows_in_India,
sum(case when country='United States' then 1 else 0 end) as Shows_in_United_States,
sum(case when country='South Africa' then 1 else 0 end) as Shows_in_South_Africa
from netflix





''';

    
df_sql = pd.read_sql_query(sql,con=engine)
df_sql.head()

   Shows_in_India  Shows_in_United_States  Shows_in_South_Africa
0             972                    2818                     30

In [19]:
## Query 14:- Sub Queries

sql='''

select distinct(a.title) from (select * from netflix) a





''';

    
df_sql = pd.read_sql_query(sql,con=engine)
df_sql.head()

                   title
0   Dick Johnson Is Dead
1          Blood & Water
2              Ganglands
3  Jailbirds New Orleans
4           Kota Factory

In [20]:
## Query 15:- coalesce

##Helps us to handle null values, it replaces the null values with the data we feed after the comma

## syntax coalesce(col1name,submit value to replace the null value)

sql='''
select coalesce(release_year,0) as first_non_zero_value from netflix
limit 1




''';

    
df_sql = pd.read_sql_query(sql,con=engine)
df_sql.head()

   first_non_zero_value
0                  2020

In [21]:
## Query 15:- convert



sql='''
select cast(release_year as float) as first_non_zero_value from netflix





''';

    
df_sql = pd.read_sql_query(sql,con=engine)
df_sql.head()

   first_non_zero_value
0                2020.0
1                2021.0
2                2021.0
3                2021.0
4                2021.0

In [22]:
## Query 16:- lag/lead



sql='''

select
title,
release_year,
case when release_year=lag(release_year) over (order by release_year asc) then 1 else 0 end as Back_to_Back
from netflix
order by release_year asc




''';

    
df_sql = pd.read_sql_query(sql,con=engine)
df_sql.head(100)

                                            title  release_year  Back_to_Back
0               Pioneers: First Women Filmmakers*          1925             0
1                                  Prelude to War          1942             0
2                            The Battle of Midway          1942             1
3   Undercover: How to Operate Behind Enemy Lines          1943             0
4              Why We Fight: The Battle of Russia          1943             1
..                                            ...           ...           ...
95                                          Rocky          1976             1
96                                        Sparkle          1976             1
97                              Hitler - A Career          1977             0
98                               A Bridge Too Far          1977             1
99                             Amar Akbar Anthony          1977             1

[100 rows x 3 columns]

In [23]:
## Query 17:- Row Number



sql='''

select 
title,type,director,
ROW_NUMBER() OVER (ORDER BY
        title asc) as row_number
        from netflix
group by title
order by title asc



''';

    
df_sql = pd.read_sql_query(sql,con=engine)
df_sql.head(100)

,title,type,director,row_number
0,#Alive,Movie,Cho Il,1
1,#AnneFrank - Parallel Stories,Movie,"Sabina Fedeli, Anna Migotto",2
2,#FriendButMarried,Movie,Rako Prijanto,3
3,#FriendButMarried 2,Movie,Rako Prijanto,4
4,#Roxy,Movie,Michael Kennedy,5
...,...,...,...,...
95,37 Seconds,Movie,Hikari,96
96,3Below: Tales of Arcadia,TV Show,None,97
97,40 Sticks,Movie,Victor Gatonye,98
98,42 Grams,Movie,Jack C. Newell,99
99,44 Cats,TV Show,None,100

In [24]:
## Query 18:- Dense Rank

sql='''

select a.value from (
Select 
distinct ' country that End with ia :- '|| country as Value,
DENSE_RANK() OVER (ORDER BY country asc) as rank from netflix
where country like"%ia"
)a
where rank=1

union all

select a.value from (
Select 
distinct ' first country that starts with a :- '|| country as Value,
DENSE_RANK() OVER (ORDER BY country asc) as rank from netflix
where country like"a%"
)a
where rank=1

union all

select a.value from (
Select 
distinct ' country that has a and minimum length 4 :- '|| country as Value,
DENSE_RANK() OVER (ORDER BY country asc) as rank from netflix
where country like"a__%"
)a
where rank=1

''';

    
df_sql = pd.read_sql_query(sql,con=engine)
df_sql.head()

                                               Value
0      country that End with ia :- , France, Algeria
1      first country that starts with a :- Argentina
2   country that has a and minimum length 4 :- Ar...

In [25]:
## Query 19:- with

sql='''
with b as (
select 
a.country,
a.count_of_shows,
row_number () over (order by a.count_of_shows desc) as rank 
from
(
select 
count(distinct title) as count_of_shows,
country
from netflix
group by country
) a
)
select country as country_most_shows from b
where  b.rank=1
 '''   
df_sql = pd.read_sql_query(sql,con=engine)
df_sql.head()

  country_most_shows
0      United States